/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #E0F1E8;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.container {
  background-color: white;
  width: 343px;
  margin-inline: auto;
  border-radius: 10px;
  padding: 24px;
}

h1 {
  font-family: "Karla", sans-serif ;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1px;
  text-align: left;
  color: #2A4144;
  margin-bottom: 32px;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #2A4144;
}

.name input {
  width: 295px;
  height: 51px;
  border: solid 1px;
  border-radius: 7px;
}

.mail input {
  width: 295px;
  height: 51px;
  border: solid 1px;
  border-radius: 7px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.mail {
  margin-bottom: 24px;
}

.mail p {
  margin-bottom: 14px;
}

.query input {
  margin-bottom: 24px;
}

.query-input p:nth-child(1) {
  margin-bottom: 16px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 3px 24px;
}

.query-input p:nth-child(2) {
  margin-bottom: 16px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 3px 24px;  
}

.Message {
  margin-bottom: 40px;
}

.Message p {
  margin-bottom: 8px;
}

.Message textarea {
 width: 295px;
 height: 240px;
 border-radius: 8px;
}

.checkbox {
  margin-bottom: 40px;
}

.button button {
  color: #FFFFFF;
  background-color: #0C7D69;
  width: 295px;
  height: 59px;
  border-radius: 8px;
  border: solid 1px #0C7D69;
}

@media(width >= 1440px) {


.container {
  width: 736px;
  padding: 40px;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.name input {
  width: 320px;
}

.mail input {
  width: 656px;
}

.query-input {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.query-input p {
  width: 320px;
}

.Message textarea {
  width: 656px;
  height: 105px;
}

.button button {
  width: 660px;
}
}